@import url(./variables.css);

#root{
  overflow: hidden;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 21px 21px 21px 21px;
}

.MainContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 98vh;
}
.Header{
  background-color: bisque;
}
.Body{
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0% 5% 0% 5%;
}
/* .Footer{
} */