@import url(./variables.css);

.FooterContainer{
    margin: 0.5%;
    padding: 0.5% 3% 0.5% 2%;

    
    background-color: rgb(239, 239, 239, 0.2);
    color: var(--footerText);
    font-size: calc(7px + 0.390625vw);
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
    border-radius: 21px 21px 21px 21px;
    box-shadow: 4px 4px 20px rgba(188, 187, 187, 0.2);
    transition: all 0.3s ease-in-out;
}
.FooterContainer:hover{
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 4px 4px 20px rgba(208, 206, 206, 0.2);
    background-color: rgb(239, 239, 239, 0.3);
    cursor: pointer;
}


.LeftContent{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.LeftContent .LogoContainers{
    display: flex;
    flex-direction: row;
    height: var(--footerLogoContainerHeight);
    gap: 1%;
    flex-wrap: nowrap;
}
.LogoContainers .logos{
    transition: all 0.3s ease-in-out;
}
.LogoContainers .logos:hover{
    opacity: 1;
    transform: scale(1.2);
    margin-right: 1.5%;
    margin-left: 1.5%;
}



.CenterContent{
    text-wrap: wrap;
    flex: 1;
    padding: 0%;
    margin: 0%;
    width: 50%;
}
.CenterContent .text{
    font-size: calc(4px + 0.4vw);
    padding: 0%;
    margin: 0%;
    text-align: center;
    line-height: 120%;
}
.CenterContent .text span{
    font-weight: bolder;
    color: rgb(134, 46, 152);
}

.RightContent{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.RightContent .logoContainers{    
    display: flex;
    flex-direction: row;
    height: var(--footerLogoContainerHeight);
    gap: 1%;
    flex-wrap: nowrap;
}
.RightContent .logoContainers .logo{
    transition: all 0.3s ease-in-out;
    img{
        height: 100%;
    }
}
.RightContent .logoContainers .logo:hover{
    opacity: 1;
    transform: scale(1.2);
    margin-right: 2%;
    margin-left: 2%;
}